doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    script(src='https://d3js.org/d3.v4.js')
    script(src='./javascripts/main.js')
  body
    block content
